*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}

.container{
    width: 330px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 20px;
    background-color: #2c2c2c;
}

.display{
    background-color: bisque;
    width: 100%;
    height: 70px;
    background: #000;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    overflow: hidden;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 18px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background: #505050;
}

button:active{
    transform: scale(0.95);
}

button:nth-child(4),:nth-child(8),:nth-child(12),:nth-child(16),:nth-child(19),:nth-child(3){
    background: #ff9500;
}

button:nth-child(1),
button:nth-child(2){
    background: #a5a5a5;
    color: black;
}

button:nth-child(1):hover,
button:nth-child(2):hover{
    background: #8e8e8e;
}

button:nth-child(17){
    grid-column: 2 span;
}
